{% extends "base.html" %}
{% block content %}
<main>
    <div class="content">
        <h2>About</h2>
        <p>
            Dwarfs in Exile has a longstanding tradition dating back to 2015 where the first edition was created.
            Back then, it was a simple offline Java application with similar mechanics as the current version.
            You could send your dwarfs to gather resources, craft items and build up your base.
            This original version is still downloadable <a href="https://gamejolt.com/games/dwarfs-in-exile/93984">here</a>.
        </p>
        <p>
            The current version is a complete rewrite of the original game using modern web technologies.
            The game also has more items, multiplayer mechanics such as quests and your dwarfs work for you
            even when you are offline.
        </p>
        <p>
            Dwarfs in Exile was created by Fabian Bösiger.
            You can find me on <a href="https://github.com/fabianboesiger">GitHub</a>
            and <a href="https://www.linkedin.com/in/fabian-b%C3%B6siger/">LinkedIn</a>
            or you can write me an <a href="mailto:boesiger.fabian@outlook.com">E-Mail</a> directly.</p>
    </div>
</main>
{% endblock %}