{% extends "base.html" %}
{% block content %}
<main>
    <div class="content">
        <h2>Admin Panel</h2>

        <h3>Settings</h3>
        <form action="/admin/update-settings" method="POST" class="formset">
            <div>
                <label for="free_premium">Free Premium on Start</label>
                <input id="free_premium" type="number" name="free_premium" value="{{ settings.free_premium }}">
            </div>
            <input type="submit" value="Submit">
        </form>

        <h3>Worlds</h3>
        <table>
            <tr>
                <th>World ID</th>
                <th>Winner</th>
            </tr>
            {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                {% if let Some(winner) = game.winner %}
                <td>{{ winner }}</td>
                {% else %}
                <td><em>Running</em></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <form action="/admin/create-world" method="POST">
            <div>
                <label for="game-mode">Game Mode</label>
                <select name="game_mode">
                    <option value="Ranked">Ranked</option>
                    <option value="Speed">Speed</option>
                    <option value="Infinite">Infinite</option>
                </select>
            </div>
            <input type="submit" value="Create new World">
        </form>
        
        <h3>Users</h3>
        <form action="/admin/add-premium" method="POST" class="formset">
            <div>
                <label for="add-premium">Add Premium for all Users</label>
                <input id="add-premium" type="number" name="add_premium" value="0">
            </div>
            <input type="submit" value="Submit">
        </form>
        <table>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Premium Hours</th>
                <th>Actions</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.premium }} Hours</td>
                <td>
                    <details>
                        <summary>Edit User</summary>
                        <form action="/admin/manage-user" method="POST">
                            <input id="user_id-{{ user.user_id }}" type="hidden" name="user_id" value="{{ user.user_id }}">
                            <div>
                                <label for="password-{{ user.user_id }}">Change Password</label>
                                <input id="password-{{ user.user_id }}" type="text" name="password" value="">
                            </div>
                            <div>
                                <label for="premium-{{ user.user_id }}">Add Premium Hours</label>
                                <input id="premium-{{ user.user_id }}" type="number" name="add_premium" value="0">
                            </div>
                            <div>
                                <label>Delete User</label><br>
                                <input type="radio" id="delete-no-{{ user.user_id }}" name="delete" value="false" checked>
                                <label for="delete-no-{{ user.user_id }}">No</label><br>
                                <input type="radio" id="delete-yes-{{ user.user_id }}" name="delete" value="true">
                                <label for="delete-yes-{{ user.user_id }}">Yes</label><br>
                            </div>
                            <input type="submit" value="Submit">
                        </form>
                    </details>
                </td>
            </tr>
            {% endfor %}
        </table>
        
    </div>
</main>
{% endblock %}