{% extends "base.html" %}
{% block content %}
<main>
    <div class="content">
        <h2>Admin Panel</h2>
        <form action="/admin/manage-user">
            <div>
                <label for="username">Username</label>
                <input id="username" type="text" name="username" value="">
            </div>
            <div>
                <label for="password">Change Password</label>
                <input id="password" type="text" name="password" value="">
            </div>
            <div>
                <label for="premium">Add Premium Hours</label>
                <input id="premium" type="number" name="premium" value="0">
            </div>
            <div>
                <label>Delete User</label>
                <input type="radio" id="delete-no" name="delete" value="false" checked>
                <label for="delete-no">No</label><br>
                <input type="radio" id="delete-yes" name="delete" value="true">
                <label for="delete-yes">Yes</label><br>
            </div>
        </form>
        
    </div>
</main>
{% endblock %}