<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dwarfs in Exile</title>
        <meta charset="utf-8">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body id="app">
        <div id="background"></div>
        <header>
            <h1><a href="/">Dwarfs in Exile</a></h1>
        </header>
        {% include "nav.html" %}
        {% block content %}{% endblock %}
    </body>
</html>