<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dwarfs in Exile</title>
        <meta charset="utf-8">
        <meta name="description" content="Dwarfs in Exile is a text-based multiplayer management game where you have control over a dwarfen settlement and its inhabitants. What are you waiting for, try it now, it's free!">
        <meta name=”robots” content="index, follow">
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
        <meta name="apple-mobile-web-app-title" content="Dwarfs in Exile">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-DPGCV2W7FT"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-DPGCV2W7FT');
        </script>
        <script>
        let deferredPrompt = null;
        window.addEventListener('beforeinstallprompt', (e) => {
            e.preventDefault();
            deferredPrompt = e;
        });
        </script>
        <script>
            const ANIMATION_DURATION_MILLIS = 3000;
            const ANIMATION_UPDATE_MILLIS = 50;
            document.addEventListener('DOMContentLoaded', () => {
                let receivedItemPopup = null;
                setInterval(() => {
                    if (receivedItemPopup === null) {
                        receivedItemPopup = document.getElementById("received-item-popup");
                    } else {
                        const items = receivedItemPopup.getElementsByClassName("received-item");
                        for (const item of items) {
                            item.style.opacity = (parseFloat(item.style.opacity) - ANIMATION_UPDATE_MILLIS / ANIMATION_DURATION_MILLIS).toString();
                        }
                    }
                }, ANIMATION_UPDATE_MILLIS);
            });
        </script>
    </head>
    <body id="app">
        <div id="background"></div>
        <header>
            <h1><a href="/">Dwarfs in Exile</a></h1>
        </header>
        {% include "nav.html" %}
        {% block content %}{% endblock %}
    </body>
</html>