{% extends "base.html" %}
{% block content %}
<main>
    <div class="form-wrapper">
        <h2>Change Password</h2>
        <form method="POST">
            <div>
                <label for="password">Password</label>
                <input id="password" type="password" name="password">
                {% for err in password_error %}
                    <span class="error">{{ err }}</span>
                {% endfor %}
            </div>
            
            <div>
                <label for="password-repeat">Repeat Password</label>
                <input id="password-repeat" name="password_repeat" type="password">
                {% for err in password_repeat_error %}
                    <span class="error">{{ err }}</span>
                {% endfor %}
            </div>

            <input type="submit" value="Submit">
        </form>
        <a href="/account" class="button">Back</a>
    </div>
</main>
{% endblock %}