{% extends "base.html" %}
{% block content %}
<main>
    <div class="form-wrapper">
        <h2>Select your World</h2>
        {% if current_worlds.is_empty() %}
          <p>There are currently no active worlds. Please come back in a few hours, a new world will start shortly!</p>
          <p>Join our Discord server to keep up with the latest news and receive notifications when a new world starts.</p>
          <a href="https://discord.gg/7wxvUsXcus" class="button">Join Discord</a>
          <p>Visit the hall of our heroes to find our top players so far.</p>
          <a href="/valhalla" class="button">Visit Valhalla</a>
        {% else %}
        {% for id in current_worlds %}
          <a href="/game/{{id}}" class="button">World {{id}}</a>
        {% endfor %}
        {% endif %}

    </div>
</main>
{% endblock %}