{% extends "base.html" %}
{% block content %}
<main>
    <div class="content">
        {% if free_premium > 0 %}
        <div class="important">
            <strong>Limited Time Offer</strong>
            <div class="image-aside small">
                <img src="/premium.jpg">
                <div>
                    <p>Get a free premium account for the first {{ free_premium / 24 }} days if you register now!</p>
                    <a href="/register" class="button">Register Now</a>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="important">
            <strong>Join the Community</strong>
            <div class="image-aside small">
                <img src="/social.jpg">
                <div>
                    <p>Join our Discord server to keep up with the latest news and contribute to the further development of the game.</p>
                    <a href="https://discord.gg/7wxvUsXcus" class="button">Join</a>
                </div>
            </div>
        </div>
        <div class="important" id="install-as-app" style="display: none;">
            <strong>Install the App</strong>
            <p>Install Dwarfs in Exile onto your device for a better experience.</p>
            <button id="install-as-app-button">Install</button>
        </div>
        <script>
            window.addEventListener('beforeinstallprompt', (e) => {
                const installAsApp = document.getElementById("install-as-app");
                const installAsAppButton = document.getElementById("install-as-app-button");
                installAsApp.style.display = "block";
                installAsAppButton.addEventListener("click", function() {
                    e.prompt();
                    installAsApp.style.display = "none";
                });
            });
            </script>
        <h2>Off to a New World!</h2>
        <div class="image-aside">
            <img src="/intro.jpg">
            <div>
                <p>The dwarfen King has exiled you for the crimes that you have commited. You were brought to the forbidden lands, a place full of dangers. Try to stay alive, build and expand your settlement and find more dwarfen exilants that join you on your adventures. Fight the orks and help the elves while uncovering the darkest secrets of the forbidden lands.</p>
                <p>Dwarfs in Exile is a text-based multiplayer management game. You have control over a dwarfen settlement and its inhabitants. Assign work to your dwarfs, collect resources, craft better tools, upgrade your settlement. You also have the opportunity to compete in quests against other players to earn rewards. What are you waiting for, try it now, it's free!</p>
                <a href="/game" class="button">Play Now</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}