{% extends "base.html" %}
{% block content %}
<main>
    <div class="content">
        {% if free_premium > 0 %}
        <div class="important">
            <h3>Limited Time Offer</h3>
            <div class="image-aside small">
                <img src="/premium.jpg">
                <div>
                    <p>Get a free premium account for the first {{ free_premium / 24 }} days if you register now!</p>
                    <a href="/register" class="button">Register Now</a>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="important" id="install-as-app" style="display: none;">
            <h3>Install the App</h3>
            <p>Install Dwarfs in Exile onto your device for a better experience.</p>
            <button id="install-as-app-button">Install</button>
        </div>
        <script>
            window.addEventListener('beforeinstallprompt', (e) => {
                document.getElementById("install-as-app").style.display = "block";
                document.getElementById("install-as-app-button").addEventListener("click", function() {
                    e.prompt();
                });
            });
            </script>
        <h2>Off to a New World!</h2>
        <div class="image-aside">
            <img src="/intro.jpg">
            <div>
                <p>The Dwarfen King has exiled you for the crimes that you have commited. You were brought to the forbidden lands, a place full of dangers. Try to stay alive, build and expand your settlement and find more exilants that join you on your adventures.</p>
                <p>Dwarfs in Exile is a text-based multiplayer management game. You have control over a dwarfen settlement and its inhabitants. Assign work to your dwarfs, collect resources, craft better tools, upgrade your settlement. You also have the opportunity to compete in quests against other players to earn rewards. What are you waiting for, try it now, it's free!</p>
                <a href="/game" class="button">Play Now</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}