{% extends "base.html" %}
{% block content %}
<main>
    <div class="content">
        <h2>Off to a New World!</h2>
        <p>The Dwarfen King has exiled you for the crimes that you have commited. You were brought to the forbidden lands, a place full of dangers. Try to stay alive, build and expand your settlement and find more exilants that join you on your adventures.</p>
        <p>Dwarfs in Exile is a text-based multiplayer management game. You have control over a dwarfen settlement and its inhabitants. Assign work to your dwarfs, collect resources, craft better tools, upgrade your settlement. You also have the opportunity to compete in quests against other players to earn rewards. What are you waiting for, try it now, it's free!</p>
        <a href="/game" class="button">Play Now</a>
    </div>
</main>
{% endblock %}