{% extends "base.html" %}
{% block content %}
    <form method="POST">
        <h2>Login</h2>
        <div>
            <label for="username">Username</label>
            <input id="username" type="text" name="username" value="{{ username }}">
            {% for err in username_error %}
                <span class="error">{{ err }}</span>
            {% endfor %}
        </div>
        
        <div>
            <label for="password">Password</label>
            <input id="password" type="password" name="password">
            {% for err in password_error %}
                <span class="error">{{ err }}</span>
            {% endfor %}
        </div>
       
        <input type="submit">

        <a href="/register">Create a new account.</a>
    </form>
{% endblock %}