{% extends "base.html" %}
{% block content %}
<main>
    <div class="content">
        <h2>Store</h2>

        <p>Buy in-game additions for your account with the username {{ username }}.</p>

        <p>Please note that no refunds are granted for any of the products listed below. We do not store any customer information.</p>

        <script async src="https://js.stripe.com/v3/buy-button.js"></script>

        <div class="store-items">
            {% for store_entry in store_entries %}
                <stripe-buy-button
                    buy-button-id="{{ store_entry.buy_button_id }}"
                    publishable-key="{{ store_entry.publishable_key }}"
                    client-reference-id="{{ user_id }}"
                ></stripe-buy-button>
            {% endfor %}
        </div>

    </div>
</main>
{% endblock %}