{% extends "base.html" %} {% block content %}
<main>
    <div class="content">

        {% if let Some(user_id) = user_id %}
        <div class="important">
            <strong>Invite Players</strong>
            <div class="image-aside small">
                <img src="/social.jpg" />
                <div>
                    <p>
                        Use this link to invite players to the game. If they
                        register with this link and buy a premium account, you
                        will get the same number of premium days for free!
                    </p>
                    <p>
                        <span class="invitation-link">
                            https://dwarfs-in-exile.com/register?referrer={{user_id}}
                        </span>
                    </p>
                    <button id="copy-invitation-link">Copy Link</button>
                    <script>
                        let button = document.getElementById(
                            "copy-invitation-link",
                        );

                        button.addEventListener("click", function () {
                            navigator.clipboard.writeText(
                                "https://dwarfs-in-exile.com/register?referrer={{user_id}}",
                            );

                            button.textContent = "Copied!";
                        });
                    </script>
                    <button id="share-invitation-link" style="display: none">
                        Share
                    </button>
                    <script>
                        if (navigator.share) {
                            let button = document.getElementById(
                                "share-invitation-link",
                            );

                            button.style.display = "block";

                            button.addEventListener("click", function () {
                                navigator.share({
                                    title: "Play Dwarfs in Exile!",
                                    text: "Join {{ username.as_ref().unwrap() }} in their adventures and play Dwarfs in Exile now for free!",
                                    url: "https://dwarfs-in-exile.com/register?referrer={{user_id}}",
                                });
                            });
                        }
                    </script>
                </div>
            </div>
        </div>
        {% endif %}

        <h2>Store</h2>

        <p>
            Here you can buy a premium account for your account. The premium account enables in-game
            features that make it easier to manage lots of dwarfs and items.
            These features include:
        </p>

        <ul>
            <li>Automatic item crafting</li>
            <li>Automatic food management</li>
            <li>Access to the Dwarfen Manager</li>
            <li>No ads</li>
        </ul>

        <p>
            You can read more about these features on the
            <a href="/wiki">Wiki page</a>.
        </p>

        <p>
            Please note that no refunds are granted for any of the products
            listed below. The premium account is automatically paused if there
            are no games running where you participate.
            We do not store any customer information.
        </p>

        {% if let Some(user_id) = user_id %}
            {% if !guest %}
                <p>You are logged in as {{ username.as_ref().unwrap() }}.</p>

                <script async src="https://js.stripe.com/v3/buy-button.js"></script>

                <div class="store-items">
                    {% for store_entry in store_entries %}
                    <stripe-buy-button
                        buy-button-id="{{ store_entry.buy_button_id }}"
                        publishable-key="{{ store_entry.publishable_key }}"
                        client-reference-id="{{ user_id }}"
                    ></stripe-buy-button>
                    {% endfor %}
                </div>
            {% else %}
                <p>
                    You need to set a password for your account before you can buy a premium account.
                </p>
                <a href="/change-password" class="button">Set Password</a>
            {% endif %}
        {% else %}
            <p>
                You need to be logged in to buy a premium account.
            </p>
            <a href="/login" class="button">Login</a> 
        {% endif %}
        
    </div>
</main>
{% endblock %}
