{% extends "base.html" %} {% block content %}
<main>
    <div class="content">
        <h2>Wiki</h2>

        <p>
            Here you can find information about the game mechanics of Dwarfs in
            Exile. If any further questions arise, feel free to join the
            <a href="https://discord.gg/7wxvUsXcus">discord channel</a> and ask
            your questions there.
        </p>

        <details>
            <summary>
                <h3>Settlement</h3>
            </summary>
            <div>
                <h4>Settlement Level</h4>
                <p>
                    Your settlement level determines how many dwarfs your
                    settlement can accomodate. Make sure that your settlement is
                    never full as no new dwarfs will join your settlement
                    otherwise, even when you complete quests that reward you
                    with new dwarfs.
                </p>
                <p>
                    The settlement level also unlocks new crafting recipes and
                    and occupations. You can see the next unlocks in the
                    settlement overview.
                </p>
                <h4>Settlement Upgrade</h4>
                <p>
                    Gather the required resources to upgrade your settlement.
                    Upgrading your settlement will increase your settlement
                    level.
                </p>
            </div>
        </details>

        <details>
            <summary>
                <h3>Dwarfs</h3>
            </summary>
            <div>
                <h4>Occupations</h4>
                <p>
                    Dwarfs can have different occupations. Each occupation
                    allows you to gather different resources. The dwarfs can be
                    better or worse at their occupation depending on their stats
                    as well as the stats of their equipment. For example, a
                    dwarf with a high perception stat will be better at mining
                    than a dwarf with a low perception stat. The perception stat
                    of a dwarf can further be increased by giving them a
                    lantern.
                </p>
                <p>
                    Having high perception alone is not enough for your dwarf to
                    be a good miner. The dwarf also needs items with usefulness
                    for mining, for example a pickaxe.
                </p>
                <p>
                    To summarize, The effectiveness of a dwarf at their
                    occupation is determined by the effective stats of the dwarf
                    combined with the usefulness of their equipment.
                </p>
                <h4>Inherent and Effective Stats</h4>
                <p>
                    Dwarfs have inherent stats that determine how good they are
                    at their occupation. The inherent stats of a dwarf will
                    improve over time as they do their jobs. Dwarfs also have
                    effective stats which are the inherent stats combined with
                    the stats that their equipment provides.
                </p>
                <h4>Getting new Dwarfs</h4>
                <p>
                    There are different ways to get new dwarfs. You can get new
                    dwarfs by completing quests. You can also hire dwarfs by
                    paying them with coins. There is also a possibility that a
                    new dwarf wanders into your settlement. Finally, you can get
                    new dwarf children by having dwarfs of the opposite gender
                    idling in your settlement. After a while, a new child dwarf
                    will be born.
                </p>
                <h4>Child Dwarfs</h4>
                <p>
                    Child dwarfs are not able to work as they need to grow up
                    first. Child dwarfs will grow up after a certain amount of
                    time, you can observe their age in the dwarfs overview.
                </p>
            </div>
        </details>

        <details>
            <summary>
                <h3>Inventory</h3>
            </summary>
            <div>
                <h4>Item Stats</h4>
                <p>
                    Certain items can have effects on your dwarfs effective
                    stats. A lantern for example will increase the effective
                    perception stat of a dwarf.
                </p>
                <h4>Item Usefulness</h4>
                <p>
                    Certain items are useful for certain occupations. A pickaxe
                    for example is useful for mining. The usefulness of an item
                    is visible in the inventory.
                </p>
                <h4>Food</h4>
                <p>
                    Certain items can be used as food. Food is required to keep
                    your dwarfs alive. However, the food items first need to be
                    transfered to your settlements food storage.
                </p>
                <h4>Crafting</h4>
                <p>
                    You can craft items in the inventory. By default, the
                    inventory will only show you the items that you own or that
                    are directly craftable. Disable the "owned" and "craftable"
                    filters to see all items that you can craft.
                </p>
            </div>
        </details>

        <details>
            <summary>
                <h3>Quests</h3>
            </summary>
            <div>
                <h4>Competition</h4>
                <p>
                    Quests are inherently competitive as all players are
                    competing for the same rewards. There are different reward
                    modes that determine how the rewards are distributed. Some
                    quests only reward the best players, in other quests, each
                    player has a chance to win depending on the amount of XP
                    they have collected. Make sure to carefully read the quest
                    description to understand how the rewards are distributed.
                </p>
                <p>
                    In the progress bar of a quests, you not only see your own
                    progress but also the progress of all the players that are
                    participating in this quest.
                </p>
                <h4>Participation</h4>
                <p>
                    Different quests allow for a different number of dwarfs to
                    participate. Make sure to send the right dwarfs to the right
                    quests to maximize your chances of winning. The quest
                    description will tell you the required skills that your
                    dwarfs need to have a better chance at winning the quest.
                </p>
                <h4>Rewards</h4>
                <p>
                    Quests can reward you with dwarfs, items, or gold. The
                    rewards are distributed according to the reward mode of the
                    quest. There are also special quests that are required to
                    move to a new settlement or to become the king.
                </p>
            </div>
        </details>

        <details>
            <summary>
                <h3>Ranking</h3>
            </summary>
            <div>
                <h4>Becoming the King</h4>
                <p>
                    It is possible to become the king of the whole dwarfen world
                    by winning the special quest "For the King". The
                    automatically receives one tenth of the gold that players
                    collect in quests, even if the player is is not
                    participating in the quests. This means that the king has a
                    huge advantage over the other players by passively earing
                    coins.
                </p>
                <h4>Winning the Game</h4>
                <p>
                    Two conditions need to be met to win the game. First, you
                    need to become the king. Second, your settlement needs to
                    have reached the maximum settlement level. The winner of a
                    game will be rewarded with a free premium account.
                </p>
            </div>
        </details>

        <details>
            <summary>
                <h3>Premium Account</h3>
            </summary>
            <div>
                <h4>Unlock Additional Features</h4>
                <p>
                    The premium account gives you access to additional in-game
                    features. Note that all of these features are purely for
                    convenience and do not give you an advantage over other
                    players.
                </p>
                <h4>Automatic Idling for Dwarfs</h4>
                <p>
                    With a premium account, you can enable automatic idling for
                    your dwarfs. This means that your dwarfs will automatically
                    idle when they are low on health. This feature is especially
                    useful when you are not able to check the game regularly.
                </p>
                <h4>Automatic Food Management</h4>
                <p>
                    With a premium account, you can enable automatic food
                    management. This means that your food items can be stored in
                    your settlement automatically. Together with the automatic
                    idling feature, this ensures that your dwarfs will never
                    die, even if you can't check on them regularly.
                </p>
                <h4>Automatic Item Selling</h4>
                <p>
                    With a premium account, you can enable automatic item
                    selling. This means that items that you don't find useful
                    will automatically be sold in exchange for ingame coins.
                </p>
                <h4>Dwarfen Manager</h4>
                <p>
                    With a premium account, you can use the dwarfen manager. The
                    dwarfen manager will automatically assign your dwarfs to the
                    occupations that are best suited for tem. The dwarfen
                    manager will also automatically equip your dwarfs with the
                    best items that you have in your inventory for this
                    occupation. This feature is especially useful when you have
                    a lot of dwarfs that you can't manage manually, or when you
                    want to make sure that you have optimally assigned your
                    dwarfs and equipment.
                </p>
            </div>
        </details>
    </div>
</main>
{% endblock %}
