@font-face {
    font-family: "Noto Sans Symbols";
    src: URL('NotoSansSymbols2-Regular.ttf') format('truetype');
}

.symbols {
    font-family: "Noto Sans Symbols";
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("/background-low-res.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1000;
}

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}

body {
    margin: 0;
}

header {
    background: white;
    padding: 8px;
    z-index: 1500;
}

header > h1 {
    margin: 0;
}

h1 > a {
    text-decoration: none;
    color: black;
}

.form-wrapper {
    max-width: 386px;
    padding: 16px;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

form > div {
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-wrapper > h2:first-child, .content > h2:first-child {
    margin-top: 0;
}

.error {
    color: darkred;
}

input, button, select, a.button, summary {
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 8px;
    background: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}




input:disabled, button:disabled, select:disabled {
    color: gray;
}


input[type=text], input[type=password], input[type=email] {
    text-align: left;
    /*border-bottom: 2px solid black;*/
    background: rgba(255, 255, 255, 0.2);    
}

select {
    text-align: left;
}

main {
    padding: 16px;
    max-width: 1024px;
    margin: auto;
    margin-bottom: 32px;
}

header {
    text-align: center;
}

.items, .dwarfs, .quests {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 16px;
    flex-wrap: wrap;
}

.dwarf, .quest {
    width: 100%;
}

.item {
    width: 140px;
    height: 180px;
    display: inline-block;
}

.hidden {
    height: 0 !important;
    visibility: hidden;
}

.dwarf, .item, .quest, .content {
    padding: 8px;
}

.dwarf, .item, .quest, #chat .togglable, #history .togglable, .form-wrapper, .content {
    background: rgba(255, 255, 255, 0.3);    
    backdrop-filter: blur(16px);
    box-shadow: 0 0 8px;
}

.item-common {
    background: rgba(255, 255, 255, 0.2);    
}
.item-uncommon {
    background: rgba(0, 175, 9, 0.2);    
}
.item-rare {
    background: rgba(4, 101, 211, 0.2);    
}
.item-epic {
    background: rgba(192, 0, 199, 0.2);    
}
.item-legendary {
    background: rgba(194, 110, 0, 0.2);    
}

.dwarf h3, .dwarf h4, .dwarf h5, .quest h3, .quest h4, .quest h5, .item h3, .item h4, .item h5, .building h3, .building h4, .building h5 {
    margin: 0;
}

.dwarf-contents {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .dwarf-contents > * {
        width: 100%;
    }
}


.item-contents {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

#chat {
    max-width: 384px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2000;
}

#history {
    max-width: 384px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2000;
}

#chat.visible, #history.visible {
    z-index: 3000;
}

#chat.visible > button, #history.visible > button {
    position: relative;
    z-index: 3500;
}

@media only screen and (max-width: 768px) {
    #chat {
        max-width: 50vw;
        width: 50vw;
    }

    #chat.visible {
        max-width: 100vw;
        width: 100vw;
    }

    #history {
        max-width: 50vw;
        width: 50vw;
    }

    #history.visible {
        max-width: 100vw;
        width: 100vw;
    }

    .messages {
        max-height: 256px;
    }
}

.message {
    margin: 8px;
}

.messages {
    overflow-y: auto;
    max-height: 384px;
    line-break: anywhere;
    border-top: 4px solid white;
}

.messages .username, .messages .time {
    font-weight: bold;
}

ul {
    padding-left: 20px;
    margin: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background: rgba(255, 255, 255, 0.2);
}

/*
th {
    background: rgba(0, 0, 0, 0.2);
}
*/

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    text-align: center;
    background: white;
    height: 34px;
}

nav button, nav a.button, .occupation button {
    width: auto;
}

.inventory-filter {
    width: 100%;
    position: sticky;
    top: 50px;
    z-index: 1000;
    background: white;
    margin-bottom: 16px;
    box-shadow: 0 0 8px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-radius: 8px;
    padding: 4px;
}

.inventory-filter > * {
    display: inline-block;
    flex-shrink: 0;
}

.inventory-filter > :last-child {
    flex-grow: 0;
    flex-shrink: 1;
}

input[type=checkbox] {
    width: auto;
}

.health-bar-wrapper {
    width: 100%;
    height: 16px;
    position: relative;
    border: 2px solid transparent;
}

.health-bar-curr {
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(200, 0, 0, 0.3);
}

.health-bar-overlay {
    width: 100%;
    height: 16px;
    position: absolute;
    top: -2px;
    left: -2px;
    text-align: center;
    border: 2px solid black;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
    font-weight: bold;
    color: black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    z-index: 5000;
    background: white;    
    backdrop-filter: blur(16px);
    border-radius: 8px;
    box-shadow: 0 0 8px;
    padding: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: normal;
    width: 256px;
    color: black;
}
  
.tooltip:hover .tooltiptext, .tooltip:active .tooltiptext {
    visibility: visible;
}

@media only screen and (max-width: 768px) {
    .tooltip .tooltiptext {
        width: 128px;
    }
}

#server-info {
    position: fixed;
    bottom: 35px;
    left: 0;
    text-align: center;
    width: 100vw;
}

#server-info > * {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}

.online {
    color: green;
}

.offline {
    color: red;
}

.clickable-item {
    cursor: pointer;
}

.clickable-item .unavailable {
    text-decoration: line-through;
}

.loading {
    margin-top: 30vw;
    text-shadow: 0 0 32px black;
    color: white;
    font-size: 16px;
    text-align: center;
}

.button-row {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
}

.button-row > *:not(:first-child) {
    flex: 0 1;
}

.button-row > *:first-child {
    flex: 1 0;
}